In [ ]:
store_item = ['Apple', 12.50, 'Mustafa', 11, 'a', 'ali']

In [ ]:
print(type(store_item));

<class 'list'>

In [ ]:
print(store_item[0:4])

['Apple', 12.5, 'Mustafa', 11]

In [ ]:
print(store_item[2:])

['Mustafa', 11, 'a', 'ali']

In [ ]:
print(store_item[:2])

['Apple', 12.5]

In [ ]:
store_item[2] = 'degisen deger';
print(store_item)

['Apple', 12.5, 'Yeni deger', 11, 'a', 'ali']

In [ ]:
number = int(input('Number :'));
print(number + 5)

Number :12
17

In [ ]:
import math

floor_number = (math.floor(4.56))

print(type(floor_number))

<class 'int'>

In [ ]:
import datetime

print(datetime.datetime.now())

2023-02-03 12:29:48.757838

In [ ]:
import random

print(random.randint(1,4))
print(random.randint(1,6))
print(random.randint(1,8))

1
6
4

In [29]:
print (5//2)
print (5**2)

2
25

In [31]:
#assignment operation

x = 5
x += 2
print(x)

7

In [34]:
num1 = 10
num2 = 5

print(num1, '>', num2, '=', num1>num2)

10 > 5 = True

In [36]:
name = "mustafa"
age = 3

print(type(name*age))

<class 'str'>

In [43]:
a = 2
b = 1
a *= b + 1
print(a)

4

In [48]:
ad = input("ad覺n")
yas = input(ad + "yas覺n")
print(yas + ad)

ad覺nali
aliyas覺n15
15ali