In [ ]:
store_item = ['Apple', 12.50, 'Mustafa', 11, 'a', 'ali']

In [ ]:
print(type(store_item));

<class 'list'>

In [ ]:
print(store_item[0:4])

['Apple', 12.5, 'Mustafa', 11]

In [ ]:
print(store_item[2:])

['Mustafa', 11, 'a', 'ali']

In [ ]:
print(store_item[:2])

['Apple', 12.5]

In [ ]:
store_item[2] = 'degisen deger';
print(store_item)

['Apple', 12.5, 'Yeni deger', 11, 'a', 'ali']

In [ ]:
number = int(input('Number :'));
print(number + 5)

Number :12
17

In [ ]:
import math

floor_number = (math.floor(4.56))

print(type(floor_number))

<class 'int'>

In [ ]:
import datetime

print(datetime.datetime.now())

2023-02-03 12:29:48.757838

In [ ]:
import random

print(random.randint(1,4))
print(random.randint(1,6))
print(random.randint(1,8))

1
6
4

In [ ]:
print (5//2)
print (5**2)

2
25

In [ ]:
#assignment operation

x = 5
x += 2
print(x)

7

In [ ]:
num1 = 10
num2 = 5

print(num1, '>', num2, '=', num1>num2)

10 > 5 = True

In [ ]:
name = "mustafa"
age = 3

print(type(name*age))

<class 'str'>

In [ ]:
a = 2
b = 1
a *= b + 1
print(a)

4

In [ ]:
ad = input("ad覺n")
yas = input(ad + "yas覺n")
print(yas + ad)

ad覺nali
aliyas覺n15
15ali

In [ ]:
celcius = 32
if celcius > 30:
  print('Hot')
elif celcius > 10:
  print('Good')
else :
  print('Cold')

Hot

In [ ]:
volcano_name = 'Eyjafjulblablabla'

for i in volcano_name:
  print(i)
print('Loop is complated')

E
y
j
a
f
j
u
l
b
l
a
b
l
a
b
l
a
Loop is complated

In [ ]:
for i in range(2,101):
  if i % 5 == 0:
    print(i)
print('Finito')

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
Finito

In [ ]:
import time
celcius = 10

while celcius < 50:

  if celcius > 30:
    print('Hot')
  elif 30 >= celcius > 20 :
    print('Good')
  elif -273 < celcius <= 20 :
    print('Cold')
  else :
    print('Someting wrong')
  
  print('The current celcius:', celcius)
  celcius += 5
  time.sleep(1)

Cold
The current celcius: 10
Cold
The current celcius: 15
Cold
The current celcius: 20
Good
The current celcius: 25
Good
The current celcius: 30
Hot
The current celcius: 35
Hot
The current celcius: 40
Hot
The current celcius: 45

In [ ]:
import time
counter = 0

while counter >= 0:
  counter += 1

  print(counter) 
  time.sleep(1)
  break

1

In [ ]:
import random 

while True :

  random_number = random.randrange(1000)
  print(random_number)

  if random_number == 777:
    print('Found..')
    break

In [ ]:
x = True
y = False
z = False

if not x or y:
  print(1)
elif not x or not y and z:
  print(2)
elif not x or y or not y and x:
  print(3)
else:
  print(4)

3